#contactinfo a:link {
  color: #fff;
  text-decoration: none;
}

#contactinfo a:visited {
  color: #fff;
  text-decoration: none;
}

#contactinfo a:hover {
  color: #333;
  background-color: fff;
  text-decoration: none;
}

#contactinfo a:active {
  color: #fff;
  text-decoration: none;
}
